/* 
#757575 - основной цвет текста + контакты(телефон, почта)
#212121 - заголовки, текст на кнопках, текст в хедере
#2196F3 - акцент
#FFFFFF - герой 
#2F303A - фон 1(там где герой)
#F5F4FA - фон наша комаанда / цвет фона кнопок в портфолио
*/

:root{
    --primary-text-colour: #757575;
    --title-text-colour: #212121;
    --accent-colour: #2196F3;
    --primary-white-colour: #FFFFFF;
    --secondary-bg-colour: #F5F4FA;/* кнопки в портфолио и фон наша команда*/
}


body{
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;

    color: var(--primary-text-colour);
    background-color: var(--primary-white-colour);
}

/* Для сброса */
.list{
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul{
    margin-top: 0;
    margin-bottom: 0;
}

/*  */
.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;

    width: 1200px;

    outline: 2px solid tomato;
}

.section{
    padding-top: 94px;
    padding-bottom: 94px;
}

/* Header */

/* .page-header{
    display: flex;   
    align-items: center;
    /* justify-content: space-between; */


/* повинно бути лого, але якщо я його перемішаю - стиль */


.section.works{
    padding-top: 47px;
}

.benefits{
    padding-bottom: 47px;
}

/* Название секций */
.section-title {
    margin: 0;

    font-size: 36px;
    line-height: 1.16;
    text-align: center;

    color: var(--title-text-colour);
}

.section-title-features {
    margin-top: 0;
    margin-bottom: 10px;

    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;

    color: var(--title-text-colour);
}

.section-title-features-text {
    margin-top: 0;
    margin-bottom: 30px;

    font-size: 14px;
    line-height: 1.7;
}

.section-title-features-text:last-child{
    margin-bottom: 0;
}

.section-title.works,
.section-title.team{
    margin-top: 0;
    margin-bottom: 50px;
}

.section-photo.works,
.section-photo.team,
.section-photo.portfolio{
    margin-top: 0;
    margin-bottom: 30px;
}

.team-name{
    margin-top: 0;
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;

    color: var(--title-text-colour);
}

.team-position{
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
}

/* 
.site-nav a{
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
} */

.contact-link.header{
    /* display: flex;
    margin-top: 0;
    margin-right: 50px; 
    margin-bottom: 50px; 
    margin-left: auto; */
    text-decoration: none;

    color: var(--primary-text-colour);
}

.main-potfolio{
    padding-right: 215px;
    padding-left: 215px;
}

/* Герой */
.hero {
    padding-top: 200px;
    padding-right: 452px;
    padding-bottom: 280px;
    padding-left: 452px;

    text-align: center;

    background-color: #2F303A;
}

.hero-title {
    max-width: 696px;
    margin: auto;
    margin-bottom: 30px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: var(--primary-white-colour);
}

/*Секции в портфолио*/
.project-title {
    margin-top: 20px;
    margin-bottom: 4px;

    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

    color: var(--title-text-colour);
}

.description {
    font-size: 16px;
    line-height: 1.8;
}


/* Цвет лого */
.logo{
    /* margin-top: 0;
    margin-bottom: 93px;
    padding-top: 24px;
    padding-bottom: 25px; */
    
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;

    color: #000000;
}

.logo-web{
    color: var(--accent-colour);
    text-decoration: none;
}

/* Навигация сайта*/
.site-nav a,
.contact-link,
.nav-link{
    /* margin-top: 0;
    margin-bottom: 50px; */

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;

    color: var(--title-text-colour);
}


.site-nav .link.current{
    color: var(--accent-colour);
}
/* флексы для хедера */
/* .site-nav{
    display: flex;
    margin-left: 93px;
}

.site-nav .item{
    margin-right: 50px;
}

.site-nav .item:last-child{
    margin-right: 0;
}


/* Кнопки */
.button{
    font-family: inherit;

    cursor: pointer;

    color: var(--title-text-colour);
    background-color: var(--secondary-bg-colour);
}

/* Смена фона и текста кнопок в портфолио*/

.portfolio.btn{
    margin-top: 0;
    margin-bottom: 50px;
    padding-top: 6px;
    padding-right: 22px;
    padding-bottom: 6px;
    padding-left: 22px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    font-family: inherit;
}

.btn.link:hover,
.btn.link:focus{
    color:var(--primary-white-colour);
    background-color: var(--accent-colour);
}


.portfolio.btn:active{
    color:var(--primary-white-colour);
    background-color: var(--accent-colour);
}
/* Кнопка в файле html*/
.button.order {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;  

    color: var(--primary-white-colour);
    background-color: var(--accent-colour);
}

.button.order:hover,
.button.order:focus{
    color: var(--primary-white-colour);
    background-color: #188CE8;
}

/* футер */

.footer{
    background-color: #2F303A;
}

.footer .logo{
    margin-top: 0;
    margin-bottom: 60px;

    color: var(--primary-white-colour);
}

.footer-address{
    font-style: normal;
    text-decoration: none;

    color: var(--primary-white-colour);
}

.footer .contact-link{
    font-weight: 400;
    font-style: normal;

    color: rgba(255, 255, 255, 0.6);
}

.end{
    margin-top: 0;
    margin-bottom: 20px;
}

.address{
    margin-top: 0;
    margin-bottom: 60px;
}

/*Контакты + навигация(студия, портфолио, контакты)*/
.link:hover,
.link:focus,
.contact-link:hover,
.contact-link:focus,
.nav-link:hover,
.nav-link:focus {
    color: var(--accent-colour);
}

.portfolio.btn.active{
    color: var(--primary-white-colour);
    background-color: var(--accent-colour);
}


/* Клас для скривания */
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

  /* портфолио */
.about-projects{
    padding: 20px 24px;
}